In [1]:
a = input() #user sanga input mageko
print(a)

1234
1234

In [3]:
a = input("Enter a = ")
print(a)
print(type(a)) #type chai string hunxa

Enter a = 123
123
<class 'str'>

In [7]:
a = int(input("Enter a = "))
print(a)
print(type(a)) #integer ma convert gareko 
#yesma hamile string value input dina mildaina

Enter a = 10
10
<class 'int'>

In [14]:
#type casting
#int() float() str() bool()
a = 10
str(a) #integer lai string ma typecast gareko
print(a)
type(a)

10

int

In [13]:
a = '10'
print(float(a)) #string lai float ma typecast gareko

10.0

In [15]:
a = 2 # values other than 0 are true
bool(a)

True

In [21]:
b = 0 # 0 vaneko false
bool(b)

False

In [23]:
#WAP to calculate simple interest
p = int(input("Enter P = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print("The value of simple interest is: ",i)

Enter P = 20000
Enter t = 2.5
Enter r = 0.1
The value of simple interest is:  50.0

In [25]:
a = "messi "
"leo " + a + str(10)  #string + string matra concat hunxa tei vayera 10 lai string ma typecast gareko

'leo messi 10'

In [4]:
name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter address = ")
info = "Hello World I am " + name + " I am from " + address + "I am  " + str(age) + "years old"
print(info)

Enter name = Aliz Shrestha
Enter age = 23
Enter address = Kapan
Hello World I am Aliz Shrestha I am from KapanI am  23years old

In [5]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
maths = int(input("Enter maths marks = "))
total = physics + chemistry + maths
percent = total / 3
print("The total marks  = ",total)
print("The percentage is ", percent)

Enter physics marks = 85
Enter chemistry marks = 88
Enter maths marks = 93
The total marks  =  266
The percentage is  88.66666666666667